<div id="survey-container" class="rev">

  <h1 id="title">Job form</h1>

  <p id="description">Fill in to apply</p>

  <form id="survey-form"  #myForm3="ngForm" (ngSubmit)="addjob(myForm3)">

    <!-- name -->
    <label id="name-label" class="row-label" >Job Designation:</label>
    <input id="name" class="row-input" type="text" name="desig" placeholder="Enter Job Designation"  ngModel required #mydesig="ngModel">

    <!-- email -->
    <label id="email-label" class="row-label" >Job Salary:</label>
    <input id="email" class="row-input" type="number" name="salary" placeholder="Enter Salary"  ngModel required #mysalary="ngModel">

    <label class="row-label" >Roles and Responsibility:</label>
    <textarea id="comments" name="role" placeholder="Give the Roles and Responsibility"  ngModel required #myRole="ngModel"></textarea>
    <!-- education dropdown -->
    <label class="row-label" >Level of education:</label>
    <select id="dropdown" class="row-input" name="edu"  ngModel required #myedu="ngModel">
      <option  value="" disabled selected>Select an option</option>
      <option value="10th">10th</option>
      <option value="12th">12th</option>
      <option value="UG">UG</option>
      <option value="PG">PG</option>
    </select>
    <label class="row-label" >Skill Needed</label>
    <select id="dropdown" class="row-input" name="skills"  ngModel required #myskill="ngModel">
      <option value="" disabled selected>Select an option</option>
      <option *ngFor="let i of allSkills">{{i.skillName}}</option>
    </select>

    <!-- years of experience -->
    <label id="number-label" class="row-label" >Years of experience:</label>
    <input id="number" class="row-input" type="number" name="exp" placeholder="Enter number of years of experience" min="0" max="50"  ngModel required #myExp="ngModel">

    <label id="name-label" class="row-label" >Job Country:</label>
    <input id="name" class="row-input" type="text"  name="country" placeholder="Enter Job Country"  ngModel required #myCoun="ngModel">
    <label id="name-label" class="row-label" >Job State:</label>
    <input id="name" class="row-input" type="text" name="state" placeholder="Enter Job State"  ngModel required #myState="ngModel">
    <label id="name-label" class="row-label" >Job City:</label>
    <input id="name" class="row-input" type="text" name="city" placeholder="Enter Job City"  ngModel required #myCity="ngModel">
    <!-- submit button -->
     <br>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>

</div>
