<div class="bg" style="background-color: rgb(0, 0, 0); color:#f5f5f5;opacity: 0.8;background-size: cover;background-position: center; 
height: 89.3vh; ">
<div id="demo" class="carousel slide" data-bs-ride="carousel"  >

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner" >
    <div class="carousel-item active" style="background-size: cover;">
      <img  src="/assets/homeimg.jpg" alt="Los Angeles" class="d-block w-100">
    </div>
    <div style="background-size: cover" class="carousel-item" >
        <img  src="/assets/homeimg2.jpg" alt="Los Angeles" class="d-block w-100">
    
    </div>
    <div class="carousel-item"style="background-size: cover;">
      <img src="/assets/homeimg3.jpg" alt="New York" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>
