<div class="rev1">
    <div class="rev12"></div>
    <div class="container" id="container">
      
        <div class="form-container sign-up-container"style="margin-top: 1005px;">
            <form >

                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <br>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form #myForm1="ngForm" (ngSubmit)="addvalidationemp(myForm1)" >
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" name="Lemail" ngModel required #myemail="ngModel"/>
                <input type="password" placeholder="Password" name="Lpassword" ngModel required #mypass="ngModel"/>
                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                  </div>
                <button >Sign In</button>
            </form>
          
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" >Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Employers!</h1>
                    <p>Complete the Registration form and Connect with the aspirants!</p>
                    <button class="ghost" id="signUp" (click)="gotoempreg()" >Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
