<div class="empmain">
    <div class="rev">
    <h1>Welcome {{employerdet.employeeName}}</h1>
    <p>Hire a Potential worker near you!!</p>
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Post Jobs</div>
            <div class="eula">You can Post the Job Vacancy of your company</div>
          </div>
          <div class="right">
            <br><br><br>
           <button class="btn btn-secondary" (click)="gotoform()">Post a Job</button><br><br>
           <button class="btn btn-light">View Posted Job</button>
          </div>
        </div>
      </div>
    </div>
</div>